
/* General Styles */

* {
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

header h1 {
  margin: 0px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 55px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFM-ImciBPCnyRvwoGX2ybpLQKcrnEt2LT-A&usqp=CAU");
  height: 130px;
  color: whitesmoke;
}

ul{
  text-align: left;
}

ul#peers-ul li {
  margin-top: -10px;
}

ul#peers-ul{
  text-align: left;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul#overview-ul li {
  margin-top: -10px;
}

div h2 {
  text-align: center;
  font-size: 22px;
}

main {
  text-align:center;
}

main form label {
  font-size: 25px;
  margin-bottom: 10px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 65px;
}

main h2 {
  margin: 0 10px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

main p {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
  text-align: left;
}

.standout {
  background-color: lightgrey;
}

.hidden {
  visibility: hidden;
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}